extends layout

block content
    .Three-Dee(style='display: block;')
        span.loading-text Checking...

    #game-details

    #footer
        #social-media
            .facebook
                iframe(src='//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.arethegiantsplayingtoday.com&width=55&layout=box_count&action=like&show_faces=false&share=false&height=65', scrolling='no', frameborder='0', style='border: none; overflow: hidden; width: 55px; height: 65px;', allowtransparency='true')
            .twitter
                a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.arethegiantsplayingtoday.com', data-text='Are the #SFGiants playing today?', data-related='zoinc', data-count='vertical')
                script.
                    tbn = function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}};//(document, 'script', 'twitter-wjs');
            .google
                .g-plus(data-action='share', data-annotation='vertical-bubble', data-height='60', data-href='http://www.arethegiantsplaying.com')
                script(type='text/javascript').
                    (function() { var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/platform.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); })();
