doctype html
html
    head
        meta(property='og:image', content='http://www.arethegiantsplayingtoday.com/SF-Giants-Logo.jpg')
        meta(property='og:title', content='Are the San Francisco Giants Playing Today?')
        meta(property='og:description', content='Find out where and when the San Francisco Giants are playing today!')
        meta(property='og:url', content='http://www.arethegiantsplayingtoday.com')
        meta(property='og:type', content='website')
        meta(name='title', content='Are the San Francisco Giants Playing a Game Today?')
        meta(name='description', content='Find out if the San Francisco Giants are playing a baseball game today.')
        meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
        title Are the San Francisco Giants Playing Today?

        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type="text/javascript", src="/javascripts/min/main.min.js")
        script(type="text/javascript", src="/javascripts/coffee/main.js")

    body
        block content
