html {
  background: url("/images/teams/yankees/background.jpg") no-repeat center center fixed #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
h1 {
  display: block;
  padding: 0 20px 0 20px;
}
#game-details {
  color: #1c2841;
  font-size: 20px;
  line-height: 26px;
  font-family: Helvetica Neue;
  font-weight: bold;
  font-weight: normal;
  padding: 0 10px 0 10px;
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.4);
}
.Three-Dee {
  line-height: 1em;
  color: #808080;
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 144px;
  margin: 60px 0 40px 0;
  display: none;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 0 #1c2841, 1px 1px 0 #1c2841, 2px 2px 0 #1c2841, 3px 3px 0 #1c2841, 4px 4px 0 #1c2841, 5px 5px 0 #1c2841, 6px 6px 0 #1c2841, 7px 7px 0 #1c2841, 8px 8px 0 #1c2841, 9px 9px 0 #1c2841, 10px 10px 0 #1c2841, 11px 11px 0 #1c2841, 12px 12px 0 #1c2841, 13px 13px 0 #1c2841, 14px 14px 0 #1c2841, 15px 15px 0 #1c2841, 16px 16px 0 #1c2841, 17px 17px 0 #1c2841, 18px 18px 0 #1c2841, 19px 19px 0 #1c2841, 20px 20px 0 #1c2841, 21px 21px 0 #1c2841;
}
.loading-text {
  text-transform: none;
  text-shadow: none;
  color: rgba(155, 155, 155, 0.5);
  font-size: 28px;
}
#footer {
  width: 100%;
  border-top: 1px solid rgba(69, 27, 0, 0.1);
  padding: 40px 0 0 0;
  margin: 40px 0 0 0;
}
#social-media {
  position: relative;
  width: 190px;
  margin: 0 auto;
}
#social-media .facebook {
  position: absolute;
}
#social-media .twitter {
  position: absolute;
  left: 65px;
}
#social-media .google {
  position: absolute;
  left: 136px;
}
.other-teams {
  position: relative;
  top: 130px;
}
.other-teams li {
  font-size: 18px;
  display: inline-block;
  margin: 0 12px 0 0;
}
.other-teams li a {
  color: #d8d8d8;
  font-weight: 300;
  text-decoration: none;
}
.other-teams li a:hover {
  color: #fafafa;
}
.other-teams li a span {
  margin-left: 12px;
  color: #fafafa;
  opacity: .5;
}
.other-teams li:last-child span {
  display: none;
}
.ad-unit {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}
@media (max-width: 720px) {
  .ad-unit {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 130px 0 20px;
  }
}
